@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes waveMove {
0% {
transform: translateX(0) translateY(0);
}

25% {
transform: translateX(-12%) translateY(-8px);
}

50% {
transform: translateX(-25%) translateY(0);
}

75% {
transform: translateX(-38%) translateY(-8px);
}

100% {
transform: translateX(-50%) translateY(0);
}
}

@keyframes waveMoveReverse {
0% {
transform: translateX(-50%) translateY(0);
}

25% {
transform: translateX(-38%) translateY(6px);
}

50% {
transform: translateX(-25%) translateY(0);
}

75% {
transform: translateX(-12%) translateY(6px);
}

100% {
transform: translateX(0) translateY(0);
}
}